[MASTER]
persistent=yes
extension-pkg-whitelist=netifaces

[MESSAGES CONTROL]
enable=all
disable=missing-docstring,suppressed-message,locally-disabled,useless-suppression,import-error,no-self-use

[REPORTS]
output-format=colorized
reports=no
score=yes

[REFACTORING]
max-nested-blocks=4

[SIMILARITIES]
min-similarity-lines=8

[VARIABLES]

[BASIC]
good-names=i,j,k,ex,Run,_,f,id,ip,iv
include-naming-hint=yes
module-rgx=(([a-zA-Z0-9_]*))$
module-name-hint=(([a-zA-Z0-9_]*))$

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,TODO

[FORMAT]
ignore-long-lines=''
indent-after-paren=4
indent-string='    '
max-line-length=100
max-module-lines=1000
no-space-check=

[TYPECHECK]
ignored-classes=optparse.Values,thread._local,_thread._local,Hostvars,BecomeParams,HostData,ClientConfig,closing

[CLASSES]
defining-attr-methods=__init__,__new__,setUp
valid-classmethod-first-arg=cls

[IMPORTS]
allow-wildcard-with-all=no
ignored-modules=typing
deprecated-modules=optparse,tkinter.tix

[DESIGN]
max-args=5
max-attributes=7
max-bool-expr=5
max-branches=10
max-locals=12
max-parents=7
max-public-methods=15
max-returns=3
max-statements=50
min-public-methods=0

[EXCEPTIONS]
overgeneral-exceptions=Exception
